html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  background-color: #9fbfdb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header*/

.HeaderContainer {
  position: fixed;
  top: 0;
  min-width: 99.9%;
  padding-bottom: 1vh;
  padding-top: 1.7vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3vh;
  background-color: #13315c;
}

.headerContainers {
  min-width: 40px;
  padding: 7px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #8da9c4;
}

.headerContainers:hover {
  color: #f9b5ac;
  transition: 0.5s;
  transition-delay: 0.1s;
}

.nameContainer {
  margin-right: auto;
  cursor: inherit;
  color: #fdfeff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.nameContainer:hover {
  color: #f9b5ac;
  transition: 0.5s;
  transition-delay: 0.1s;
}
.navBarBurger {
  border: rgb(96, 123, 197) 2px solid;
  min-width: 40px;
  min-height: 40px;
  padding: 2px;
  cursor: pointer;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: none;
}

@media (max-width: 700px) {
  .navBarBurger {
    display: flex;
  }
}

/*About Me */

.flowerPic {
  max-width: 100%;
  max-height: 75%;
}

.aboutMeContainer {
  padding: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vh;
}

.aboutImage {
  min-width: 20%;
  padding-bottom: 4%;
  padding-top: 4%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #b6cee4;
}
.aboutText {
  min-width: 40%;
  padding-bottom: 7%;
  padding-right: 10%;
  padding-left: 10%;
  max-height: 20%;
  /* padding-top: 20%; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Playfair", sans-serif;
  border-radius: 1vh;
  background-color: #b6cee4;
}
.aboutMeHeader {
  color: rgb(56, 55, 55);
}

.aboutMeText {
  min-width: 30%;
  padding: 13%;
  /* padding-bottom: 20%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: left;

  line-height: 150%;
  font-family: "Roboto Slab", serif;

  font-size: 17px;
}

@media (max-width: 700px) {
  .aboutMeContainer {
    padding: 12vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vh;
    flex-direction: column;
  }

  .aboutImage {
    min-width: 20%;

    /* padding-bottom: 20%;
    padding-top: 20%; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .headerContainers {
    display: none;
  }

  .nameContainer {
    display: inherit;
  }
}

/* Technologies */

.TechnologiesContainer {
  padding: 20vh;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 10vh;
}

.technologyContainer {
  min-width: 20vh;
  height: 30vh;
  margin-top: -6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  background-color: #fdfeff;
  background-color: #fdfeff;
  border-radius: 1vh;
}

.technologiesTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  padding: 1vh;
  font-size: 30px;
  background-color: #fdfeff;
}

.techImage {
  width: 80%;
  height: 70%;
}

.techTitle {
  border: 1px solid darkgray;
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: #5b8feb;
  border-radius: 5px;
  color: white;
}

@media (max-width: 1060px) {
  .TechnologiesContainer {
    padding: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10vh;
  }
}

@media (max-width: 700px) {
  .TechnologiesContainer {
    padding: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10vh;
  }
}

@media (max-width: 500px) {
  .TechnologiesContainer {
    padding: 20vh;
    display: grid;
    grid-template-columns: repeat(1, 10fr);
    gap: 10vh;
  }
}

/* Projects*/

.projectsContainer {
  min-height: 85vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 99%;
  background-color: white;
}

.projectsTitle {
  background-color: #fdfeff;
  width: 100%;
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 24px 5px -25px #718aa0;
}

.projectsCardContainer {
  min-width: 100%;
  height: 80%;
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
}

.projectCardContainer {
  /* border: 2px solid rgb(167, 167, 167); */
  min-width: 30%;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 1vh;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  background-color: #b0cee9;
}

.projectPicture {
  width: 80%;
  height: 55%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.projectName {
  width: 80%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 4px;
}

.projectLinks {
  width: 80%;
  height: 12%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: white;
  border-radius: 4px;
  background-color: #b0cee9;
}

.projectLinks2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 80%;
  width: 20%;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Contact Me*/

.contactContainer {
  height: 105vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #9fbfdb;
}

.contactTitle {
  /* margin-top: ; */
  min-width: 100%;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: #13315c;
  color: white;
}

.formContainer {
  margin-top: 100px;
  min-width: 40%;
  height: 60%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9fbfdb;
}

@media (max-width: 850px) {
  .formContainer {
    min-width: 90%;
  }
}

.contactForm {
  height: 90%;
  min-width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  border-radius: 5px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #5c89b1;
}

.inputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  color: white;
  width: 80%;
  height: 15%;
}

.input {
  min-width: 80%;
  margin-top: -4px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: inherit;
}

.messageInputContainer {
  height: 35%;
}

.messageInput {
  height: 90%;
}

.submitButton {
  background-color: inherit;
  border: inherit;
  height: 8%;
  width: 35%;
  border-radius: 5px;
  margin-top: 40px;
  color: #13315c;
  font-size: 15px;
  background-color: white;
}

.nameInput,
.emailInput {
  height: 150%;
}

/*footer*/

.footerContainer {
  background-color: #1f467e;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes move {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.sideBarContainer {
  margin-top: 64px;
  height: 98vh;
  width: 100%;
  position: fixed;
  background-color: #33588b;
  animation: move 0.8s ease;
  animation-iteration-count: 1;
}

.sideBarOptionsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 2vh;
  cursor: pointer;
  color: #fdfeff;
}

.sideBarOption {
  font-size: 20px;
}
